In [2]:
import subprocess 
import sys
def install(package) :
    subprocess.check_call([sys.executable, "-m", "pip", "install", package])

In [ ]:
pip install yfinance

Import necessary packages

In [4]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/Users/shaungillie/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [9]:
ticker = ["XOM","CVX","SHEL", "COP", "TTE", "BP", "ENB"]

In [11]:
stocks = yf.download(ticker, start = "2010-01-01", end = "2024-01-01")
stocks

[*********************100%%**********************]  7 of 7 completed

            Adj Close                                                \
                   BP         COP         CVX        ENB       SHEL
Date
2010-01-04  28.387142   24.428831   45.479137  12.385660  29.858778
2010-01-05  28.588701   24.452082   45.801266  12.514395  29.892302
2010-01-06  28.737476   24.628618   45.807034  12.302514  29.648066
2010-01-07  28.727875   24.531046   45.634453  12.232781  29.504396
2010-01-08  28.795076   24.744757   45.714996  12.318604  29.461304
...               ...         ...         ...        ...        ...
2023-12-22  35.330002  117.660004  151.050003  36.060001  65.809998
2023-12-26  35.669998  119.019997  152.410004  36.320000  66.110001
2023-12-27  35.730000  118.489998  151.910004  36.310001  66.129997
2023-12-28  35.330002  116.500000  149.770004  36.080002  65.449997
2023-12-29  35.400002  116.070000  149.160004  36.020000  65.800003

                                       Close                          ...  \
                  TTE         XOM         BP         COP         CVX  ...
Date                                                                  ...
2010-01-04  28.645304   40.611755  59.150002   40.082603   79.059998  ...
2010-01-05  28.710533   40.770309  59.570000   40.120720   79.620003  ...
2010-01-06  28.701832   41.122684  59.880001   40.410400   79.629997  ...
2010-01-07  28.636608   40.993477  59.860001   40.250313   79.330002  ...
2010-01-08  28.810535   40.829033  60.000000   40.600979   79.470001  ...
...               ...         ...        ...         ...         ...  ...
2023-12-22  67.659187  101.910004  35.330002  117.660004  151.050003  ...
2023-12-26  68.143456  102.139999  35.669998  119.019997  152.410004  ...
2023-12-27  68.351006  101.660004  35.730000  118.489998  151.910004  ...
2023-12-28  66.919998  100.190002  35.330002  116.500000  149.770004  ...
2023-12-29  67.379997   99.980003  35.400002  116.070000  149.160004  ...

                 Open                          Volume                      \
                 SHEL        TTE         XOM       BP       COP       CVX
Date
2010-01-04  61.860001  65.820000   68.720001  3956100  13880848  10173800
2010-01-05  62.610001  66.019997   69.190002  4109600  10084524  10593700
2010-01-06  62.139999  65.690002   69.449997  6227900  11631913  11014600
2010-01-07  61.540001  65.690002   69.900002  4431300   7648922   9626900
2010-01-08  61.169998  65.629997   69.690002  3786100   7284244   5624300
...               ...        ...         ...      ...       ...       ...
2023-12-22  66.019997  68.879997  102.309998  4127400   4299400   6394600
2023-12-26  65.919998  68.389999  102.739998  4949600   2893600   5165600
2023-12-27  66.199997  69.300003  102.040001  6352400   3441400   5337200
2023-12-28  66.040001  67.629997  101.389999  5069600   3711400   8148000
2023-12-29  66.089996  67.559998  100.370003  3688000   3643300   7653800


                ENB     SHEL      TTE       XOM
Date
2010-01-04   718200  1643003  1805100  27809100
2010-01-05   815000  1718458  1299500  30174700
2010-01-06  1211200  3040554  1561100  35044700
2010-01-07   829600  1033089  1074900  27192100
2010-01-08   911200  1438017  1284300  24891800
...             ...      ...      ...       ...
2023-12-22  3413200  3487230   878700  12921800
2023-12-26  2395000  2649997   504700  16835100
2023-12-27  3133500  3402886   934400  14558800
2023-12-28  3418100  3227686  1017900  16329300
2023-12-29  3505700  3041426   574700  17741400

[3522 rows x 42 columns]

In [12]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3522 entries, 2010-01-04 to 2023-12-29
Data columns (total 42 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, BP)    3522 non-null   float64
 1   (Adj Close, COP)   3522 non-null   float64
 2   (Adj Close, CVX)   3522 non-null   float64
 3   (Adj Close, ENB)   3522 non-null   float64
 4   (Adj Close, SHEL)  3522 non-null   float64
 5   (Adj Close, TTE)   3522 non-null   float64
 6   (Adj Close, XOM)   3522 non-null   float64
 7   (Close, BP)        3522 non-null   float64
 8   (Close, COP)       3522 non-null   float64
 9   (Close, CVX)       3522 non-null   float64
 10  (Close, ENB)       3522 non-null   float64
 11  (Close, SHEL)      3522 non-null   float64
 12  (Close, TTE)       3522 non-null   float64
 13  (Close, XOM)       3522 non-null   float64
 14  (High, BP)         3522 non-null   float64
 15  (High, COP)        3522 non-null   float64
 16  (High, CVX)        3522 non-null   float64
 17  (High, ENB)        3522 non-null   float64
 18  (High, SHEL)       3522 non-null   float64
 19  (High, TTE)        3522 non-null   float64
 20  (High, XOM)        3522 non-null   float64
 21  (Low, BP)          3522 non-null   float64
 22  (Low, COP)         3522 non-null   float64
 23  (Low, CVX)         3522 non-null   float64
 24  (Low, ENB)         3522 non-null   float64
 25  (Low, SHEL)        3522 non-null   float64
 26  (Low, TTE)         3522 non-null   float64
 27  (Low, XOM)         3522 non-null   float64
 28  (Open, BP)         3522 non-null   float64
 29  (Open, COP)        3522 non-null   float64
 30  (Open, CVX)        3522 non-null   float64
 31  (Open, ENB)        3522 non-null   float64
 32  (Open, SHEL)       3522 non-null   float64
 33  (Open, TTE)        3522 non-null   float64
 34  (Open, XOM)        3522 non-null   float64
 35  (Volume, BP)       3522 non-null   int64
 36  (Volume, COP)      3522 non-null   int64
 37  (Volume, CVX)      3522 non-null   int64
 38  (Volume, ENB)      3522 non-null   int64
 39  (Volume, SHEL)     3522 non-null   int64
 40  (Volume, TTE)      3522 non-null   int64
 41  (Volume, XOM)      3522 non-null   int64
dtypes: float64(35), int64(7)
memory usage: 1.2 MB

Export Selected Energy Stocks as CSV and import and Pandas Dataframes

In [14]:
stocks.to_csv("stocksYT.csv")

In [19]:
stocks = pd.read_csv("stocksYT.csv", header = [0,1], index_col=[0], parse_dates=[0])
stocks

            Adj Close                                                \
                   BP         COP         CVX        ENB       SHEL
Date
2010-01-04  28.387142   24.428831   45.479137  12.385660  29.858778
2010-01-05  28.588701   24.452082   45.801266  12.514395  29.892302
2010-01-06  28.737476   24.628618   45.807034  12.302514  29.648066
2010-01-07  28.727875   24.531046   45.634453  12.232781  29.504396
2010-01-08  28.795076   24.744757   45.714996  12.318604  29.461304
...               ...         ...         ...        ...        ...
2023-12-22  35.330002  117.660004  151.050003  36.060001  65.809998
2023-12-26  35.669998  119.019997  152.410004  36.320000  66.110001
2023-12-27  35.730000  118.489998  151.910004  36.310001  66.129997
2023-12-28  35.330002  116.500000  149.770004  36.080002  65.449997
2023-12-29  35.400002  116.070000  149.160004  36.020000  65.800003

                                       Close                          ...  \
                  TTE         XOM         BP         COP         CVX  ...
Date                                                                  ...
2010-01-04  28.645304   40.611755  59.150002   40.082603   79.059998  ...
2010-01-05  28.710533   40.770309  59.570000   40.120720   79.620003  ...
2010-01-06  28.701832   41.122684  59.880001   40.410400   79.629997  ...
2010-01-07  28.636608   40.993477  59.860001   40.250313   79.330002  ...
2010-01-08  28.810535   40.829033  60.000000   40.600979   79.470001  ...
...               ...         ...        ...         ...         ...  ...
2023-12-22  67.659187  101.910004  35.330002  117.660004  151.050003  ...
2023-12-26  68.143456  102.139999  35.669998  119.019997  152.410004  ...
2023-12-27  68.351006  101.660004  35.730000  118.489998  151.910004  ...
2023-12-28  66.919998  100.190002  35.330002  116.500000  149.770004  ...
2023-12-29  67.379997   99.980003  35.400002  116.070000  149.160004  ...

                 Open                          Volume                      \
                 SHEL        TTE         XOM       BP       COP       CVX
Date
2010-01-04  61.860001  65.820000   68.720001  3956100  13880848  10173800
2010-01-05  62.610001  66.019997   69.190002  4109600  10084524  10593700
2010-01-06  62.139999  65.690002   69.449997  6227900  11631913  11014600
2010-01-07  61.540001  65.690002   69.900002  4431300   7648922   9626900
2010-01-08  61.169998  65.629997   69.690002  3786100   7284244   5624300
...               ...        ...         ...      ...       ...       ...
2023-12-22  66.019997  68.879997  102.309998  4127400   4299400   6394600
2023-12-26  65.919998  68.389999  102.739998  4949600   2893600   5165600
2023-12-27  66.199997  69.300003  102.040001  6352400   3441400   5337200
2023-12-28  66.040001  67.629997  101.389999  5069600   3711400   8148000
2023-12-29  66.089996  67.559998  100.370003  3688000   3643300   7653800


                ENB     SHEL      TTE       XOM
Date
2010-01-04   718200  1643003  1805100  27809100
2010-01-05   815000  1718458  1299500  30174700
2010-01-06  1211200  3040554  1561100  35044700
2010-01-07   829600  1033089  1074900  27192100
2010-01-08   911200  1438017  1284300  24891800
...             ...      ...      ...       ...
2023-12-22  3413200  3487230   878700  12921800
2023-12-26  2395000  2649997   504700  16835100
2023-12-27  3133500  3402886   934400  14558800
2023-12-28  3418100  3227686  1017900  16329300
2023-12-29  3505700  3041426   574700  17741400

[3522 rows x 42 columns]

In [20]:
#convert multi index into one tuple
stocks.columns = stocks.columns.to_flat_index()
stocks.columns

Index([  ('Adj Close', 'BP'),  ('Adj Close', 'COP'),  ('Adj Close', 'CVX'),
        ('Adj Close', 'ENB'), ('Adj Close', 'SHEL'),  ('Adj Close', 'TTE'),
        ('Adj Close', 'XOM'),       ('Close', 'BP'),      ('Close', 'COP'),
            ('Close', 'CVX'),      ('Close', 'ENB'),     ('Close', 'SHEL'),
            ('Close', 'TTE'),      ('Close', 'XOM'),        ('High', 'BP'),
             ('High', 'COP'),       ('High', 'CVX'),       ('High', 'ENB'),
            ('High', 'SHEL'),       ('High', 'TTE'),       ('High', 'XOM'),
               ('Low', 'BP'),        ('Low', 'COP'),        ('Low', 'CVX'),
              ('Low', 'ENB'),       ('Low', 'SHEL'),        ('Low', 'TTE'),
              ('Low', 'XOM'),        ('Open', 'BP'),       ('Open', 'COP'),
             ('Open', 'CVX'),       ('Open', 'ENB'),      ('Open', 'SHEL'),
             ('Open', 'TTE'),       ('Open', 'XOM'),      ('Volume', 'BP'),
           ('Volume', 'COP'),     ('Volume', 'CVX'),     ('Volume', 'ENB'),
          ('Volume', 'SHEL'),     ('Volume', 'TTE'),     ('Volume', 'XOM')],
      dtype='object')

In [21]:
stocks

,"(Adj Close, BP)","(Adj Close, COP)","(Adj Close, CVX)","(Adj Close, ENB)","(Adj Close, SHEL)","(Adj Close, TTE)","(Adj Close, XOM)","(Close, BP)","(Close, COP)","(Close, CVX)",...,"(Open, SHEL)","(Open, TTE)","(Open, XOM)","(Volume, BP)","(Volume, COP)","(Volume, CVX)","(Volume, ENB)","(Volume, SHEL)","(Volume, TTE)","(Volume, XOM)"
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,28.387142,24.428831,45.479137,12.385660,29.858778,28.645304,40.611755,59.150002,40.082603,79.059998,...,61.860001,65.820000,68.720001,3956100,13880848,10173800,718200,1643003,1805100,27809100
2010-01-05,28.588701,24.452082,45.801266,12.514395,29.892302,28.710533,40.770309,59.570000,40.120720,79.620003,...,62.610001,66.019997,69.190002,4109600,10084524,10593700,815000,1718458,1299500,30174700
2010-01-06,28.737476,24.628618,45.807034,12.302514,29.648066,28.701832,41.122684,59.880001,40.410400,79.629997,...,62.139999,65.690002,69.449997,6227900,11631913,11014600,1211200,3040554,1561100,35044700
2010-01-07,28.727875,24.531046,45.634453,12.232781,29.504396,28.636608,40.993477,59.860001,40.250313,79.330002,...,61.540001,65.690002,69.900002,4431300,7648922,9626900,829600,1033089,1074900,27192100
2010-01-08,28.795076,24.744757,45.714996,12.318604,29.461304,28.810535,40.829033,60.000000,40.600979,79.470001,...,61.169998,65.629997,69.690002,3786100,7284244,5624300,911200,1438017,1284300,24891800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,35.330002,117.660004,151.050003,36.060001,65.809998,67.659187,101.910004,35.330002,117.660004,151.050003,...,66.019997,68.879997,102.309998,4127400,4299400,6394600,3413200,3487230,878700,12921800
2023-12-26,35.669998,119.019997,152.410004,36.320000,66.110001,68.143456,102.139999,35.669998,119.019997,152.410004,...,65.919998,68.389999,102.739998,4949600,2893600,5165600,2395000,2649997,504700,16835100
2023-12-27,35.730000,118.489998,151.910004,36.310001,66.129997,68.351006,101.660004,35.730000,118.489998,151.910004,...,66.199997,69.300003,102.040001,6352400,3441400,5337200,3133500,3402886,934400,14558800
2023-12-28,35.330002,116.500000,149.770004,36.080002,65.449997,66.919998,100.190002,35.330002,116.500000,149.770004,...,66.040001,67.629997,101.389999,5069600,3711400,8148000,3418100,3227686,1017900,16329300
2023-12-29,35.400002,116.070000,149.160004,36.020000,65.800003,67.379997,99.980003,35.400002,116.070000,149.160004,...,66.089996,67.559998,100.370003,3688000,3643300,7653800,3505700,3041426,574700,17741400